:root{
	--bg-color: #010712;
	--main-color: #1C1F26;
	--text-color: #eee;
	--main-hover: #24262D;
	--project-description-bg-color: #F2F2F0;
	--project-description-color: #111;
	--popup-bg-background-color: #13171FEF;
}

.project{
	border-bottom-width: 3px;
}

.project .description a{
	color: #1F5AA6;
}

.project .description .tag{
	color: var(--main-color);
}

.project .button,
.make-project-visible,
body .button{
	background-color: #961227;
	color: var(--text-color);
}

.project .button:hover,
.make-project-visible:hover,
body .button:hover{
	background-color: #24262D;
}