:root{
	--bg-color: #355C7D;
	--main-color: #6C5B7B;
	--text-color: #fff;
	--main-hover: #C06C84;
	--project-description-bg-color: #fff;
	--project-description-color: #333;
	--popup-bg-background-color: rgba(192, 108, 132, .7);
}