:root{
	--bg-color: #99C4C8;
	--main-color: #C3E5E9;
	--text-color: #111;
	--main-hover: #E2E8DE;
	--project-description-bg-color: #F2ECE8;
	--project-description-color: #111;
	--popup-bg-background-color: #F2ECE8ad;
}

.project .description .tag,
.project .description a{
	color: var(--bg-color);
}

.project .button{
	background-color: #C0D5CF;
	color: var(--text-color);
}

.project .button:hover{
	color: var(--main-hover);
}

.project .description .button{
	background-color: var(--main-color);
	color: var(--project-description-color);
}