:root{
	--bg-color: #024059;
	--main-color: #2180A6;
	--text-color: #C9EBF2;
	--main-hover: #6CC5D9;
	--project-description-bg-color: #C9EBF2;
	--project-description-color: #024059;
	--popup-bg-background-color: #013a40b8;
}