:root{
	--bg-color: #79BD9A;
	--main-color: #A8DBA8;
	--text-color: #111;
	--main-hover: #CEF0B7;
	--project-description-bg-color: #3B8686;
	--project-description-color: #eee;
	--popup-bg-background-color: #009c7cad;
}

.project .description .tag,
.project .description a{
	color: var(--main-hover);
}

.project .description .button{
	background-color: var(--main-color);
	color: var(--project-description-color);
}