:root{
	--bg-color: #F291A3;
	--main-color: #D991B3;
	--text-color: #fff;
	--main-hover: #8F9AD9;
	--project-description-bg-color: #fff;
	--project-description-color: #333;
	--popup-bg-background-color: #d991b3c9;
}