@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic');

*{
	padding: 0;
	margin: 0;
}

:root{
	/*--bg-color: #0D47A1;*/
	--bg-color: #355C7D;
	/*--main-color: #1565C0;*/
	--main-color: #6C5B7B;
	--text-color: #fff;
	/*--main-hover: #1E88E5;*/
	--main-hover: #C06C84;

	--project-description-bg-color: #fff;
	--project-description-color: #333;
	--popup-bg-background-color: rgba(0, 0, 0, .8);
}

:focus{
	outline: none;
}

body{
	background-color: var(--bg-color);
	color: white;
	font-family: Roboto;
}

.grid{
	width: 100%;
	box-sizing: border-box;
	padding: 50px;
}

.project{
	width: 100%;
	height: 210px;
	background-color: var(--main-color);
	margin-bottom: 30px;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 4px;
	transition-duration: .3s;
	transition-property: background-color, box-shadow;
	position: relative;
	overflow: hidden;
}

.project:hover{
	background-color: var(--main-hover);
	box-shadow: 0 0 7px rgba(0, 0, 0, .7);
}

.project-title{
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.project p{
	margin-bottom: 0;
	margin-top: 10px;
}

.project .description a{
	color: var(--main-color);
}

.incomplete{
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	display: inline-block;
}

.project-control{
	margin-top: 10px;
	position: absolute;
	bottom: 20px;
}

body .button{
	display: inline-block;
	padding: 6px 15px;
	font-size: 18px;
	background-color: #263238;
	color: white;
	cursor: pointer;
	border-radius: 3px;
	transition-duration: .3s;
	transition-property: background-color;
}

body .button:hover{
	text-decoration: none;
	background-color: #546E7A;
}

.project .description{
	height: 225px;
	display: block;
	position: fixed;
	left: -100%;
	top: 0;
	width: 800px;
	background-color: var(--project-description-bg-color);
	z-index: 100;
	height: 100%;
	color: var(--project-description-color);
	box-sizing: border-box;
	padding: 50px;
	font-size: 18px;
	transition-property: opacity, left;
	transition-duration: .3s;
}

.project .description.show{
	left: 0;
	opacity: 1;
}

.header{
	margin-bottom: 30px;
}

.inp{
	padding: 6px 20px;
	width: 300px;
	border-radius: 3px;
	border: 0;
	font-size: 18px;
	background-color: rgba(255, 255, 255, .8);
	transition-duration: .3s;
	transition-property: box-shadow, background-color;
}

.inp:focus{
	box-shadow: 0 0 5px rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1)
}

.create-project{
	float: right;
}

.header{
	height: 80px;
	margin-bottom: 50px;
}

.logo{
	height: 40px;
	width: auto;
	margin-top: 15px;
}

header .total{
	float: right;
	margin: 0;
	line-height: 70px;
}

.global-popup-bg{
	position: fixed;
	z-index: 90;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--popup-bg-background-color);
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
	transition-duration: .3s;
	transition-property: opacity;
}

.global-popup-bg.show{
	opacity: 1;
	visibility: visible;
}

.project .description .project-control{
	position: static;
	margin-top: 30px;
}

.project .description .project-control .button{
	color: var(--text-color);
}

.project .favicon{
	background-color: grey;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-left: 15px;
	position: relative;	
	top: -3px;
	box-shadow: 0 0 7px #555;
	margin-left: 0;
}

.project-card-info{
	position: relative;
	top: -20px;
}

.project .description .project-card-info{
	position: static;
}

.project .status{
	padding: 4px 8px;
	text-transform: lowercase;
	background-color: rgba(0, 0, 0, .4);
	border-radius: 3px;
}

.project .status::first-letter{
	text-transform: uppercase;
}

.project .s-open{
	color: #1de9b6;
}

.project .s-closed{
	color: #f9a825;
}

.project .tag{
	color: #fff;
	text-decoration: underline;
	margin-left: 7px;
}

.project .tag:hover{
	text-decoration: none;
}

.button.small-button{
	padding: 1px 7px;
  background-color: var(--main-color);
}

input.search{
	margin-top: 15px;
}

.search-cancel{
	position: relative;
	background: url('../imgs/close-circle.png') no-repeat;
	background-size: 60% 60%;
	background-position: center center;
	background-color: transparent;
	border: 0;
	opacity: 0;
	visibility: hidden;
	width: 40px;
	height: 40px;
	left: -50px;
	top: 14px;
	transition-duration: .2s;
	transition-property: visibility, opacity;
}

.search-cancel.visible{
	opacity: .5;
	visibility: visible;
}

.search-cancel:focus{
	outline: none;
}

.search-cancel:hover{
	cursor: pointer;
	opacity: .8;
}